:root {
    --bckground-clr: rgb(250, 200, 205);
    --txt-clr: rgb(45, 45, 42);
    --txt-hover: rgb(107, 107, 102);
    --txt-disabled: rgb(146, 170, 131);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: var(--txt-clr);
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--bckground-clr);    
}

body #root {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#root main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

main h1 {
    margin-bottom: 50px;
    font-size: 3rem;
}

#root main .btn-container{
    display: flex;
    gap: 30px;
}

main .btn {
    background: none;
    border: none;
    cursor: pointer;
}

main .btn-container {
    margin-bottom: 50px;
}

.btn-container .option-btn {
    font-size: 2rem;    
}

.btn-container .option-btn:hover {
    color: var(--txt-hover);
}

.btn-container .option-btn.displayed{
    text-decoration: underline;
}

main .counter-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 2rem;
    margin-bottom: 50px;
}

.counter-container .counter-btn {
    font-size: 2rem;
}

.counter-container .function-btn {
    font-size: 1.5rem;
}

.counter-container .counter-btn.disabled-btn {
    color: var(--txt-disabled);
    cursor: default;
} 

.counter-container .btn:hover:not(.disabled-btn) {
    color: var(--txt-hover);
}

main .timer {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    width: 400px;
}

.timer .function-btn {
    font-size: 1.5rem;
}

.timer .function-btn:hover {
    color: var(--txt-hover);
}

.timer .time {
    display: flex;
    width: 200px;
    justify-content: space-between;
}

@media only screen and (max-width:420px) {    
    main h1 {
        text-align: center;
    }
    
    main .timer {        
        flex-direction: column;
        align-items: center;
    }
}